
<%- include('partial/header'); -%>
<h1>Compose</h1>
<form action="submit" method="post">
    <input type="text" name="ComposeName">
    <button type="submit" name="button">Post</button>
</form>
<%- include('partial/footer'); -%>